<h1><span class="marvel">Marvel</span> Vs <span class="head"> DC</span></h1>
<div class="big-wrapper">
    <div class="wrapper">

        <a href="/creator"> <button>Creators</button></a>
        <a href="/comic/new"> <button>Create Character</button></a>
        <a href="/universe"> <button>Universes</button></a>
    </div>
    <div class="inner-wrapper">
        <ul>
            {{#each allComics}}
            <h4 class="comic-description underline"><a href="/comic/{{_id}}">{{name}}</a></h4>
            <div class="pic-wrapper "> <span class="description"> {{description}}</span></a>
                <br>
                <a href="/comic/{{_id}}"><img class="headpic" src=" {{pic}}"></a>
            </div>
            <h4 class="underline">Universe</h4>
            <h5 class="universe ">{{universe}}</h5>
            {{!-- <div class="wrapper"> --}}

            <div class="flex">

                <h4 class="first-appearance">First Appearance</h4>
                <h5 class="answers">{{firstAppearance}}</h5>
            </div>
            {{!-- </div> --}}
            {{/each}}
        </ul>
    </div>
</div>