<h1><span class="marvel">Marvel</span> Vs <span class="head"> DC</span></h1>
<a href="/comic/new"> <button>Create Character</button></a>
<a href="/creator"> <button>Creators</button></a>
<a href="/universe"> <button>Universes</button></a>


<ul>
    {{#each allComics}}
    <a href="/comic/{{_id}}">{{name}}</a>
    <br>
    <a href="/comic/{{_id}}"><img class="headpic" src=" {{pic}}"></a>
    <h4>Universe:</h4>
    <h5>{{universe}}</h5>
    <h4>Description:</h4>
    <p class="description">{{description}}</p>
    <h4>First Appearance:</h4>
    <h5>{{firstAppearance}}</h5>

    {{/each}}
</ul>