<h1>Marvel Vs <span class="head"> DC</span></h1>
<a href="/comic/new"> <button>Create Character</button></a>
<ul>
    {{#each allComics}}
    <a href="/comic/{{_id}}">{{name}}</a>
    <br>
    <a href="/comic/{{_id}}"><img src=" {{pic}}"></a>
    <h4>Universe:</h4>
    <h3>{{universe}}</h3>
    <h4>Description:</h4>
    <h3>{{description}}</h3>
    <h4>First Appearance:</h4>
    <h3>{{firstAppearance}}</h3>

    {{/each}}
</ul>