<h1><span class="marvel">Marvel</span> Vs <span class="head"> DC</span></h1>
<h5>Name:</h5>
<div>
  {{singleComic.name}}
</div>
<h5>Universe:</h5>
<div>
  {{singleComic.universe}}
</div>
<h5>Description:</h5>
<div>
  {{singleComic.description}}
</div>
<h5>First Appearance:</h5>
<div>
  {{singleComic.firstAppearance}}
</div>
<div>
  <div class="pic"><img src="{{singleComic.pic}}"></div>
</div>
<form method="POST" action="/comic/{{singleComic._id}}?_method=DELETE">
  <a href="/comic/">
    <button>Delete Charcter</button>
  </a>
</form>
<a href="/comic/{{singleComic._id}}/edit">
  <button>Edit Character</button>
</a>
<a href="/comic/">
  <button> Characters</button>
</a>