<h1><span class="marvel">Marvel</span> Vs <span class="head"> DC</span></h1>
<h3 class="single-head">Name:</h3>
<div class="answers">
  <h4>{{singleComic.name}}</h4>
</div>
<div>
  <div class="pic"><img src="{{singleComic.pic}}"></div>
</div>
<h3 class="single-head">Universe:</h3>
<div class="answers">
  <h4>{{singleComic.universe}}</h4>
</div>
<h3 class="single-head">Description:</h3>
<div class="answers">
  <p class="description">{{singleComic.description}}</p>
</div>
<h3 class="single-head">First Appearance:</h3>
<div class="answers">
  <h4>{{singleComic.firstAppearance}}</h4>
</div>

<form method="POST" action="/comic/{{singleComic._id}}?_method=DELETE">
  <a href="/comic/">
    <button>Delete Charcter</button>
  </a>
</form>
<a href="/comic/{{singleComic._id}}/edit">
  <button>Edit Character</button>
</a>
<a href="/comic/">
  <button> Characters</button>
</a>