<h1><span class="marvel">Marvel</span> Vs <span class="head"> DC</span></h1>
<form method="POST" action="/universe/{{singleUniverse._id}}?_method=PUT">
    <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
    <label class="single-head" for="universeName">Universe</label>
    <input class="input-box" type="text" value="{{singleUniverse.universe}}" placeholder="name" name="universe"
        id="universeName" />
    <label class="single-head" for="universeDescription">Description</label>
    <input class="input-box" type="text" value="{{singleUniverse.description}}" placeholder="description"
        name="description" id="universeDescription" />
    <label class="single-head" for="universeCharacters">Characters</label>
    <input class="input-box" type="text" name="characters" value="{{singleUniverse.characters}}"
        id="universeCharacters" />
    <br><br><br><br>
    <label class="single-head" for="universePic">Picture</label>
    <input class="input-box" type="text" name="pic" value="{{singleUniverse.pic}}" id="universePic">
    <br><br>
    <input class="create-btn" type="submit" value="Save Universe" />
</form>