<h1><span class="marvel">Marvel</span> Vs <span class="head"> DC</span></h1>
<h5 class="single-head">Universe:</h5>
<div class="single-answers">
    {{singleUniverse.universe}}
</div>
<div>
    <div class="pic"><img src="{{singleUniverse.pic}}"></div>
</div>
<h5 class="single-head">Description:</h5>
<div class="single-answers">
    {{singleUniverse.description}}
</div>
<h5 class="single-head">Characters</h5>
<div class="single-answers">
    {{singleUniverse.characters}}
</div>


<form method="POST" action="/universe/{{singleUniverse._id}}?_method=DELETE">
    <a href="/universe/">
        <button>Delete Universe</button>
    </a>
</form>
<a href="/universe/{{singleUniverse._id}}/edit">
    <button>Edit Universe</button>
</a>
<a href="/universe/">
    <button> Universes</button>
</a>