<h1><span class="marvel">Marvel</span> Vs <span class="head"> DC</span></h1>
<div class="wrapper">
    <a href="/universe"> <button>Universes</button></a>
    <a href="/creator/new"> <button>Create Creator</button></a>
    <a href="/comic"> <button>Characters</button></a>
</div>
<ul>
    {{#each allCreators}}
    <a href="/creator/{{_id}}">{{name}}</a>
    <br>
    <a href="/creator/{{_id}}"><img src=" {{pic}}"></a>
    <h4>Age:</h4>
    <h3 class="all-creator-val">{{age}}</h3>
    <h4>Characters:</h4>
    <h3 class="all-creator-val">{{characters}}</h3>

    {{/each}}
</ul>