<h1><span class="marvel">Marvel</span> Vs <span class="head"> DC</span></h1>
<form method="POST" action="/creator/{{singleCreator._id}}?_method=PUT">

    <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
    <label class="single-head" for="creator">Creator</label>
    <input class="input-box" type="text" value="{{singleCreator.name}}" placeholder="creator" name="name"
        id="creator" />
    <label class="single-head" for="creatorDescription">Age</label>
    <input class="input-box" type="text" value="{{singleCreator.age}}" placeholder="description" name="age"
        id="description" />
    <label class="single-head" for="creatorCharacters">Characters</label>
    <input class="input-box" type="text" name="characters" value="{{singleCreator.characters}}"
        id="creatorCharacters" />
    <br><br><br>
    <label class="single-head" for="creatorPic">Picture</label>
    <input class="input-box" type="text" name="pic" value="{{singleCreator.pic}}" id="creatorPic">
    <br><br>
    <input class="create-btn" type="submit" value="Save Creator" />
</form>