<h1><span class="marvel">Marvel</span> Vs <span class="head"> DC</span></h1>
<form method="POST" action="/creator{{singleCreator._id}}?_method=PUT"></form>">

<!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
<label for="creator">Creator</label>
<input type="text" value="{{singleCreator.name}}" placeholder="creator" name="name" id="creator" />
<label for="creatorDescription">Age</label>
<input type="text" value="{{singleCreator.age}}" placeholder="description" name="age" id="description" />
<label for="creatorCharacters">Characters</label>
<input type="text" name="characters" value="{{singleCreator.characters}}" id="creatorCharacters" />
<br>
<label for="creatorPic">Picture</label>
<input type="text" name="pic" value="{{singleCreator.pic}}" id="creatorPic">
<input type="submit" value="Save Creator" />
</form>