<h1><span class="marvel">Marvel</span> Vs <span class="head"> DC</span></h1>
<h5>Creator:</h5>
<div>
    {{singleCreator.name}}
</div>
<h5>Age:</h5>
<div>
    {{singleCreator.age}}
</div>
<h5>Characters</h5>
<div>
    {{singleCreator.characters}}
</div>

<div>
    <div class="pic"><img src="{{singleCreator.pic}}"></div>
</div>
<form method="POST" action="/creator/{{singleCreator._id}}?_method=DELETE">
    <a href="/creator/">
        <button>Delete Creator</button>
    </a>
</form>
<a href="/creator/{{singleCreator._id}}/edit">
    <button>Edit Creator</button>
</a>
<a href="/creator/">
    <button> Creators</button>
</a>